:root {
    --primary-color: #310642;
    --secondary-color: #5f1c61;
    --background-color: #f0f0f0;
    --text-color: #404040;
    --text-color-alt: #f0f0f0;
    --text-color-muted: #808080;
    --button-text-color: var(--text-color);
    --button-text-color-alt: var(--text-color-alt);
    --button-background-color: var(--secondary-color);
    --button-hover-background-color: var(--primary-color);
    --button-border-color: var(--text-color);
}

[data-theme="dark"] {
    --primary-color: #310642;
    --background-color: #404040;
    --text-color: #f0f0f0;
    --text-color-alt: #f0f0f0;
    --text-color-muted: #b0b0b0;
    --secondary-color: #5f1c61;
    --button-text-color: var(--text-color);
    --button-text-color-alt: var(--text-color-alt);
    --button-background-color: var(--secondary-color);
    --button-hover-background-color: var(--primary-color);
    --button-border-color: var(--text-color);
}

header h1 {
    color: var(--text-color-alt);
}


html, body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--button-text-color);
    border: 3px solid transparent;
    border-bottom: 3px solid var(--button-border-color);
    background-color: var(--button-background-color);
    transition: background-color 0.3s ease;
}

a:hover {
    color: var(--button-text-color);
    background-color: var(--button-hover-background-color);
    border-bottom: 3px solid var(--button-border-color);
}

a:focus, a:active {
    border: 3px solid transparent;
    border-bottom: 3px solid var(--button-border-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
}

nav {
    background-color: var(--primary-color);
    color: var(--text-color);
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color-muted);
}

.main-content {
    background-color: var(--background-color);
    color: var(--text-color);
}

.gdpr-card {
    color: var(--text-color-alt);
    background-color: var(--primary-color);
}

.gdpr-card a {
    color: var(--text-color-alt);
    background-color: var(--primary-color);
}

.gdpr-card a:hover {
    color: var(--text-color-alt);
    background-color: var(--primary-color);
}

[data-theme="dark"] a {
    color: var(--button-text-color-alt);
}

[data-theme="dark"] a:hover,
[data-theme="dark"] a:active {
    color: var(--button-text-color-alt);
    background-color: var(--button-hover-background-color);
}

.gdpr-card button {
    color: var(--button-text-color-alt);
    background-color: var(--button-background-color);
    border: 3px solid transparent;
    border-bottom: 3px solid var(--text-color-alt);
}

.gdpr-card button:hover, .gdpr-card button:focus, .gdpr-card button:active {
    color: var(--button-text-color-alt);
    background-color: var(--button-hover-background-color);
    border: 3px solid transparent;
    border-bottom: 3px solid var(--text-color-alt);
}


[data-theme="dark"] .gdpr-card button {
    color: var(--button-text-color-alt);
    background-color: var(--button-background-color);
    border: 3px solid transparent;
    border-bottom: 3px solid var(--text-color-alt);
}
[data-theme="dark"] .gdpr-card button:hover, [data-theme="dark"] .gdpr-card button:focus, [data-theme="dark"] .gdpr-card button:active {
    color: var(--button-text-color-alt);
    background-color: var(--button-hover-background-color);
    border: 3px solid transparent;
    border-bottom: 3px solid var(--text-color-alt);
}