footer {
  grid-area: footer;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1em;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 480px) {
    footer {
    padding: 15px;
    }

    footer p {
    font-size: 12px;
    }
}