header {
    padding: 1em;
    text-align: center;
    
    a, a:hover, a:focus, a:active, a:visited {
        border: none;
        text-decoration: none;
        background-color: transparent;
        outline: none;
    }

}
