nav {
    padding: 1em;
    
    a, a:hover, a:focus, a:active, a:visited {
        border-radius: .25em;
        outline: none;
    }
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.nav-links NavLink {
    margin: 0;
}