nav {
    padding: 0;
    
    a, a:hover, a:focus, a:active, a:visited {
        border-radius: .25em;
        outline: none;
        color: var(--text-color-alt);
        border-bottom: var(--text-color-alt) 3px solid;
    }
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.nav-links NavLink {
    margin: 0;
}

@media (width >= 500px) {
    .nav-links {
        gap: 1em;
    }
}

@media (width >= 768px) {
    .nav-links {
        gap: 1.2em;
    }
}

@media (width >= 1280px) {
    .nav-links {
        gap: 1.5em;
    }
}