nav {
  grid-area: nav;
  background-color: var(--primary-color);
  color: white;
  padding: 1em;
  text-align: center;

  a {
    color: white;
    margin: 0 1em;
    font-weight: var(--font-weight-bold);
  }
  a:hover {
    color: var(--secondary-color);
  }
  a:visited {
    color: white;
  }
  a:active {
    color: var(--secondary-color);
  }
  a:focus {
    outline: 2px solid var(--secondary-color);
    outline-offset: 2px;
  }
  a:focus-visible {
    outline: 2px solid var(--secondary-color);
    outline-offset: 2px;
  }
}