@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  /* Font Families */
  --primary-font-family: 'JetBrains Mono', monospace;
  --primary-font-family-alt: 'Roboto Condensed', sans-serif;

  /* Font Weights */
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  /* Font Sizes */
  --font-size-tiny: 0.625em;          /* 10px */
  --font-size-extra-small: 0.75em;    /* 12px */
  --font-size-small: 0.875em;         /* 14px */
  --font-size-normal: 1em;            /* 16px */
  --font-size-medium: 1.125em;        /* 18px */
  --font-size-large: 1.25em;          /* 20px */
  --font-size-extra-large: 1.5em;     /* 24px */
  --font-size-2x-large: 2em;          /* 32px */
  --font-size-3x-large: 3em;          /* 48px */
  --font-size-4x-large: 3.5em;        /* 56px */
  --font-size-5x-large: 4em;          /* 64px */
  --font-size-6x-large: 4.5em;        /* 72px */
  --font-size-7x-large: 5em;          /* 80px */

  /* Icon Fonts */
  --fa-free-font-family: 'Font Awesome 6 Free';
  --bs-free-font-family: 'Bootstrap Icons';
}

html, body {
  font-family: var(--primary-font-family);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-normal);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font-family);
  font-weight: var(--font-weight-700);
}

h1, .h1 {
  font-size: var(--font-size-4x-large);
}
h2, .h2 {
  font-size: var(--font-size-3x-large);
}
h3, .h3 {
  font-size: var(--font-size-2x-large);
}
h4, .h4 {
  font-size: var(--font-size-extra-large);
}
h5, .h5 {
  font-size: var(--font-size-large);
}
h6, .h6 {
  font-size: var(--font-size-tiny);      /* 10px */
}

.title {
  font-family: var(--primary-font-family-alt);
  font-weight: var(--font-weight-800);
}

p {
  font-family: var(--primary-font-family-alt);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-normal);
}

a {
  font-weight: var(--font-weight-700);
}

input,
textarea {
  font-family: var(--primary-font-family-alt);
  font-weight: var(--font-weight-400);
  border: 1px solid var(--primary-color);
  padding: 0.5em;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.icon {
  font-family: var(--bs-free-font-family);
  /* font-family: var(--primary-font-family); */
}

/* Responsive font sizing */
@media (max-width: 768px) {
  body {
    font-size: calc(var(--font-size-normal) * 0.9);
  }
  input,
  textarea {
    padding: 0.4em;
  }
}

@media (min-width: 769px) {
  body {
    font-size: calc(var(--font-size-normal) * 1.1);
  }
  input,
  textarea {
    padding: 0.6em;
  }
}