.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about .about-content {
    margin-bottom: 1rem;
}

.about .about-quote {
    margin-bottom: 1rem;
}

.about .about-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about .about-image {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.about .about-image img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: .5rem;
    border: 5px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
