.contact-page {
    position: relative;
    left: -1rem;
    width: 105%;
}

.contact-form-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "social social"
        "img info"
        "form form";
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    width: 100%;
    margin: -1rem;
    /* max-width: 442px; */
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    overflow: hidden;
}
/* 
.contact-form-card:hover {
    transform: scale(1.05);
} */

.contact-card-social {
    grid-area: social;
    font-size: var(--font-size-extra-small);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    max-width: 100%;
    gap: .2rem;

    a {
        padding: 0.3rem 0.7rem;
    }
}

.social-icon {
    color: var(--text-color-alt);
    cursor: pointer;
    transition: opacity 0.2s;
}

.social-icon:hover {
    opacity: 0.7;
}

.contact-card-img {
    grid-area: img;
    width: 100%;
    max-width: 115px;
    height: auto;
    overflow: hidden;
}

.contact-card-info {
    grid-area: info;
    padding: 0 1rem;
}

.contact-form-card img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    display: block;
}

.contact-form-card p {
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--text-color-alt);
}

.contact-form-container {
    grid-area: form;
    max-height: 0;
    background-color: var(--primary-color);
    padding: 0;
    border: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.contact-form-container.active {
    max-height: 400px;
    padding: 10px;
}

.contact-form-container form {
    background-color: transparent;
    padding: 0;
    border: none;
}

.contact-form-container select,
.contact-form-container input,
.contact-form-container textarea {
    display: block;
    margin: 5px 0;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--button-border-color);
    background-color: var(--background-color);
    color: var(--text-color-alt);
}

.contact-form-container textarea {
    min-height: 80px;
    resize: vertical;
}

.contact-form-container button {
    margin-top: 3px;
    margin-bottom: -10px;
    background-color: var(--button-background-color);
    color: var(--button-text-color-alt);
    border-bottom: 3px solid var(--button-border-color);
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.contact-form-container button:hover {
    background-color: var(--button-hover-background-color);
}


@media screen and (min-width: 400px) {
    .contact-card-social {
        font-size: var(--font-size-small);
        gap: .2rem;

        a {
            padding: 0.3rem 0.7rem;
        }
    }
}

@media screen and (min-width: 430px) {
    .contact-page {
        position: relative;
        left: -1rem;
        width: 104%;
    }

    .contact-card-social {
        a {
            padding: 0.3rem .9rem;
        }
    }
}

@media screen and (min-width: 512px) {
    .contact-page {
        position: relative;
        left: -1rem;
        width: 104%;
    }

    .contact-card-social {
        font-size: var(--font-size-normal);
        gap: .2rem;

        a {
            padding: 0.3rem 1.2rem;
        }
    }
}

@media screen and (min-width: 600px) {
    .contact-page {
        position: relative;
        left: -1rem;
        width: 103%;
    }

    .contact-card-social {
        font-size: var(--font-size-normal);
        gap: .2rem;

        a {
            padding: 0.3rem 1.5rem;
        }
    }
}

@media screen and (min-width: 700px) {
    .contact-page {
        position: relative;
        left: -1rem;
        width: 102.5%;
    }
    
    .contact-card-social {
        padding: 0 1rem ;
        font-size: var(--font-size-normal);
        gap: .2rem;

        a {
            padding: 0.4rem 1.5rem;
        }
    }
}

/* Tablet and up: convert to card */
@media screen and (min-width: 768px) {
    .contact-page {
        position: relative;
        left: 0;
        width: 98%;
    }

    .contact-card-social {
        padding: 0 1rem ;
        font-size: var(--font-size-normal);
        gap: .2rem;

        a {
            padding: 0.4rem 1.5rem;
        }
    }

    .contact-form-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "social social"
            "img info"
            "form form";
        background-color: var(--primary-color);
        color: var(--text-color);
        font-size: var(--font-size-medium);
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        width: 100%;
        margin: -1rem;
        /* max-width: 442px; */
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s;
        overflow: hidden;
    }
}

@media screen and (min-width: 920px) {
    .contact-page {
        position: relative;
        left: -1.4rem;
        width: 103%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .contact-card-social {
        padding: 0;
        font-size: var(--font-size-small);
        gap: .5rem;

        a {
            padding: 0.4rem .8rem;
        }
    }

    .contact-form-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "social social"
            "img info"
            "form form";
        background-color: var(--primary-color);
        color: var(--text-color);
        font-size: var(--font-size-medium);
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        width: 100%;
        margin: -1rem;
        /* max-width: 442px; */
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s;
        overflow: hidden;
    }
}

/* Desktop and up: buttons side-by-side */
@media screen and (min-width: 1200px) {
    .contact-page {
        position: relative;
        left: 0;
        width: 99%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .contact-card-social {
        padding: 0;
        font-size: var(--font-size-small);
        gap: .5rem;

        a {
            padding: 0.4rem .8rem;
        }
    }

    .contact-form-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "social social"
            "img info"
            "form form";
        background-color: var(--primary-color);
        color: var(--text-color);
        font-size: var(--font-size-medium);
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        width: 100%;
        margin: -1rem;
        /* max-width: 442px; */
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s;
        overflow: hidden;
    }
}

@media screen and (min-width: 1600px) {
    .contact-page {
        position: relative;
        left: 0;
        width: 99%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .contact-card-social {
        padding: 0;
        font-size: var(--font-size-small);
        gap: .5rem;

        a {
            padding: 0.4rem .8rem;
        }
    }

    .contact-form-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "social social"
            "img info"
            "form form";
        background-color: var(--primary-color);
        color: var(--text-color);
        font-size: var(--font-size-medium);
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        width: 100%;
        margin: -1rem;
        /* max-width: 442px; */
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s;
        overflow: hidden;
    }
}

@media screen and (min-width: 1900px) {
    .contact-page {
        position: relative;
        left: 0;
        width: 99%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }

    .contact-card-social {
        padding: 0;
        font-size: var(--font-size-small);
        gap: .5rem;

        a {
            padding: 0.4rem .8rem;
        }
    }

    .contact-form-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "social social"
            "img info"
            "form form";
        background-color: var(--primary-color);
        color: var(--text-color);
        font-size: var(--font-size-medium);
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        width: 100%;
        margin: -1rem;
        /* max-width: 442px; */
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s;
        overflow: hidden;
    }
}