*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--primary-font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

main {
  grid-area: main;
  padding: 2em;
  background-color: var(--background-color);
  color: var(--text-color);
}

input, textarea {
  font-family: var(--secondary-font-family);
  font-weight: var(--font-weight-normal);
  border: 1px solid var(--primary-color);
  padding: 0.5em;
  width: 100%;
}

input:focus, textarea:focus {
  border-color: var(--secondary-color);
  outline: none;
}
