button {
    font-family: var(--secondary-font-family);
    font-weight: var(--font-weight-bold);
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color);
}

@media (max-width: 768px) {
    button {
        padding: 0.4em 0.8em;
    }
}

@media (min-width: 769px) {
    button {
        padding: 0.6em 1.2em;
    }
}